/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


.right-col {
  width: 800px;
  height: 400px;
  position: fixed;
  right: 50px;
  border: 2px solid #ccc;
  overflow: hidden;
}


.circle {
  position:absolute;
  top: 0px;
  left: 400px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.red {
  background-color: #D12B2A;
}

.grey {
  background-color: grey;
}

.slate {
  background-color: #87D1DD;
}

.orange {
  background-color: #FF8000;
}
